.validate-input{
    border-bottom: 2px solid rgba(255,255,255,0.24);
    position: relative;
    margin-bottom: 30px;
    width: 90%;
  
}
.validate-input > input{
    width: 100%;
    height: 45px;
    font-size: 16px;
    outline: none;
    border: none;
    background: inherit;
    color: white;
    transition: all 1s linear;
 
}

.input-span > img{
    filter: invert(100%);
    position: absolute;
    display: block;
    width: 1.075em;
    height: 0.95em;
    top: 15px;
    padding-right: 2px;
    transition: linear all 0.4s;
}
.input-span::after {
    bottom: -1px;
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    transition: linear all 0.4s;
}
input:focus + span::after {
   
    transition: linear all 0.4s;
    width: 100%;
}
input:focus + span > img{
    transition: linear all 0.4s;
    width: 1em;
    height: 0.89;
    top: -15px;
}

.validate-input > input::placeholder{
    color: white;
    position: relative;
    left: 28px;
}
.validate-input > input:focus::placeholder{
    color: transparent;

}
