.validate-input{
    position: relative;
    margin-bottom: 30px;
    width: 90%;
    border-bottom: 2px solid rgba(255,255,255,.24);
}
.validate-input > input{
    width: 100%;
    height: 45px;
    font-size: 16px;
    outline: none;
    border: none;
    
    background: inherit;
    color: white;
    transition: all 1s linear;
}

.validate-input > input::before{
    border-bottom: 2px solid white;
    width: 25px;
    height: 10px;
}

.validate-input > input::placeholder{
    color: white;
    position: relative;
    left: 28px;
}
.validate-input > input:focus::placeholder{
    color: transparent;

}

.validate-input > img{
    position: absolute;
    top: 10px;
    height: 18px;
    filter: invert(100%);
    transition: all .5s linear;

}
.validate-input > img{
    top: -15px;

}